<ngx-spinner bdColor="rgba(25,118,210,0.5)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>

<!-- <ngx-spinner bdOpacity=0 .9 bdColor="#333" size="large" color="#fff" type="ball-8bits" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner> -->

<ng-container>
    <mat-toolbar class="example-header">Header</mat-toolbar>

    <mat-sidenav-container class="a-container">
        <mat-sidenav #sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async) && !auth.isAuthenticated(['apiweb'])" class="sidenav" [fixedInViewport]="false">
            <mat-toolbar color="primary" style="text-align: center;display: block;">
                <img src="assets/imgs/logo.png" alt="" style="width: 90px">
            </mat-toolbar>
            <mat-nav-list>
                <!-- <a mat-list-item *ngIf="auth.isAuthenticated(['administrador','editor','visor'])" routerLinkActive="active" class="menuahr" [routerLinkActiveOptions]="{exact:true}" routerLink="/inicio" style="height: 70px;">
                    
                    <img src="assets/imgs/control.png" style="width: 45px;padding-right: 10px;" alt=""> Cuadro de control
                </a> -->
                <a mat-list-item *ngIf="auth.isAuthenticated(['administrador','editor','visor'])" routerLinkActive="active" class="menuahr" [routerLinkActiveOptions]="{exact:true}" routerLink="/contrato" style="height: 70px;">
                    <img src="assets/imgs/Contrato128.png" style="width: 45px;padding-right: 10px;" alt=""> Documentos
                </a>
                <!-- <a mat-list-item *ngIf="auth.isAuthenticated(['administrador','editor','visor'])" routerLinkActive="active" class="menuahr" [routerLinkActiveOptions]="{exact:true}" routerLink="/eventos" style="height: 70px;">
                    <img src="assets/imgs/Evento128.png" style="width: 45px;padding-right: 10px;" alt=""> Eventos
                </a> -->
                <a mat-list-item *ngIf="auth.isAuthenticated(['administrador','editor','visor'])" routerLinkActive="active" class="menuahr" [routerLinkActiveOptions]="{exact:true}" routerLink="/socios" style="height: 70px;">
                    <img src="assets/imgs/Socio512.png" style="width: 45px;padding-right: 10px;" alt=""> Proveedores
                </a>
                <a mat-list-item *ngIf="auth.isAuthenticated(['administrador'])" routerLinkActive="active" class="menuahr" [routerLinkActiveOptions]="{exact:true}" routerLink="/usuarios" style="height: 70px;">
                    <img src="assets/imgs/Usuario128.png" style="width: 45px;padding-right: 10px;" alt=""> Usuarios
                </a>
                <a mat-list-item *ngIf="!auth.isAuthenticated(['apiweb'])" (click)="logout();sidenav.toggle()" routerLinkActive="active" class="menuahr" [routerLinkActiveOptions]="{exact:true}" style="height: 70px;">
                    <img src="assets/imgs/salir.png" style="width: 45px;padding-right: 10px;" alt="">Cerrar sesión
                </a>
            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content>
            <!-- <mat-toolbar color="primary" class="a-header">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" *ngIf="(isHandset$ | async)">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
                <span style="width: 100%;text-align: center;">
                <h2>Gestion de Contratos</h2>
              </span>
            </mat-toolbar> -->
            <div class="container">
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" *ngIf="(isHandset$ | async) && !auth.isAuthenticated(['apiweb'])">
                            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                        </button>
                        <span>Gestión de Contratos</span>
                        <span class="example-spacer"></span>
    
    
                        <button *ngIf="!auth.isAuthenticated(['apiweb'])" mat-mini-fab color="primary" routerLink="/inicio" [matBadge]="notificacionfun()" matBadgePosition="before" matBadgeColor="accent">
                            <mat-icon aria-hidden="false" aria-label="Example heart icon">notifications</mat-icon>
                        </button>
    
    
                        <!-- <button *ngIf="!auth.isAuthenticated(['apiweb'])" mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            Usuario <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="logout()">
                                <mat-icon>exit_to_app</mat-icon>
                                <span>Cerrar sesion</span>
                            </button>
                        </mat-menu> -->
                    </mat-toolbar-row>
                </mat-toolbar>
              
                <div class="contenido-principal">
                    <!-- <mat-toolbar *ngIf="!auth.isAuthenticated(['apiweb'])">
                        <mat-toolbar-row>
    
                            <button *ngIf="auth.isAuthenticated(['administrador','editor'])" mat-raised-button color="primary" (click)="addContrato('add')"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">add</mat-icon>
                                Contrato</button>
                            <button *ngIf="auth.isAuthenticated(['administrador','editor'])" mat-raised-button color="primary" (click)="addEvento('add')"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">add</mat-icon>
                                Evento</button>
    
                        </mat-toolbar-row>
                    </mat-toolbar> -->
                    <br><br><br>
                    <router-outlet></router-outlet>
                </div>
              </div>

            

           
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>`